{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row">
  <div class="col-lg-4">
    <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="{% static 'images/placeholder.png' %}">
    <div class="box-element product">
      <h6><strong>Product</strong></h6>
      <hr>
      <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: inlince-block;float: right" >$20</h4>
    </div>
  </div>

    <div class="col-lg-4">
      <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>Product</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inlince-block;float: right" >$20</h4>
      </div>
    </div>

    <div class="col-lg-4">
      <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>Product</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inlince-block;float: right" >$20</h4>
      </div>
    </div>
  </div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
  <div class="w-100 d-none d-md-block"></div>
  <br>

  <div class="row">
    <div class="col-lg-4">
      <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="">
      <div class="box-element product">
        <h6><strong>Product</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inlince-block;float: right" >$20</h4>
      </div>
    </div>

      <div class="col-lg-4">
        <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="">
        <div class="box-element product">
          <h6><strong>Product</strong></h6>
          <hr>
          <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 style="display: inlince-block;float: right" >$20</h4>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="thumbnail" style="height: 350px;" src="{% static 'images/funnyhat1.jpg' %}" alt="">
        <div class="box-element product">
          <h6><strong>Product</strong></h6>
          <hr>
          <button class="btn btn-outline-secondary add-btn" name="button">Add to Cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 style="display: inlince-block;float: right" >$20</h4>
        </div>
      </div>
    </div>


{% endblock %}
